{% include 'sections/contact.njk' %}

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {% set image_path = ["src/", 'assets/images/logo.png'] | join %}
          {% image image_path , "CLIR logo", "", "(min-width: 30em) 50vw, 100vw" %}
          {% include 'social.njk' %}
        </div>
        <div class="col-md-4">
          <h2 class="text-light fs-1">About</h2>
          <p class="text-white paragraph-lg font-secondary">CLIR is an independent, nonprofit organization that forges strategies to enhance research, teaching, and learning environments in collaboration with libraries, cultural institutions, and communities of higher learning.</p>
        </div>
        <div class="col-md-4">
          <h2 class="text-light fs-1">Address</h2>
          <p class="text-white paragraph-lg font-secondary">1800 Diagonal Road, Suite 600, Alexandria, VA 22314, USA</p>
          <div id="wcb" class="carbonbadge wcb-d"></div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        </div>
      </div>

    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright &copy; {% year %}. Unless otherwise indicated, content on this site is available for re-use under <a target="_blank" class="link-light" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0 License</a>.</p>
  </div>
</footer>
<!-- /footer -->

<!-- Main Script -->
<script src="/assets/js/script.js"></script>