<!-- social icon -->

<ul class="mt-3 list-unstyled d-flex fs-2">
    <li class="ms-3">
            <a class="text-white" href="https://www.facebook.com/pages/Council-on-Library-and-Information-Resources-CLIR/300100435096">
                <i class="bi bi-facebook"></i>
                <span class="visually-hidden-focusable">Facebook</span>
            </a>
        </li>
    <li class="ms-3">
        <a class="text-white" href="https://twitter.com/clirnews">
            <i class="bi bi-twitter"></i>
            <span class="visually-hidden-focusable">Twitter</span>
        </a>
    </li>
    <li class="ms-3">
        <a class="text-white" href="http://www.youtube.com/user/DLFCLIR?blend=2&ob=0">
            <i class="bi bi-youtube"></i>
            <span class="visually-hidden-focusable">YouTube</span>
        </a>
    </li>
    <li class="ms-3">
        <a class="text-white" href="https://www.linkedin.com/company/6203386/">
            <i class="bi bi-linkedin"></i>
            <span class="visually-hidden-focusable">LinkedIn</span>
        </a>
    </li>
</ul>
{# 
    <ul class="list-unstyled ms-5 mt-3 position-relative zindex-1">
        <li class="mb-3">
            <a class="text-white" href="https://www.facebook.com/pages/Council-on-Library-and-Information-Resources-CLIR/300100435096">
                <i class="bi bi-facebook"></i>
                <span class="visually-hidden-focusable">Facebook</span>
            </a>
        </li>
        <li class="mb-3">
            <a class="text-white" href="https://twitter.com/clirnews">
                <i class="bi bi-twitter"></i>
                <span class="visually-hidden-focusable">Twitter</span>
            </a>
        </li>
        <li class="mb-3">
            <a class="text-white" href="http://www.youtube.com/user/DLFCLIR?blend=2&ob=0">
                <i class="bi bi-youtube"></i>
                <span class="visually-hidden-focusable">YouTube</span>
            </a>
        </li>
        <li class="mb-3">
            <a class="text-white" href="https://www.linkedin.com/company/6203386/">
                <i class="bi bi-linkedin"></i>
                <span class="visually-hidden-focusable">LinkedIn</span>
            </a>
        </li>
    </ul> #}
<!-- /social icon -->