<!-- benefits -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Benefits</h2>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5">
                        <i class="bi bi-palette icon mb-5 d-inline-block"></i>
                        <h4 class="mb-4">Learn</h4>
                        <p>
                            Engage with experts and other professionals who are working to make libraries and museums more climate resilient
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card active-bg-primary hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5">
                        <i class="bi bi-bezier2 icon mb-5 d-inline-block"></i>
                        <h4 class="mb-4">Skill Development</h4>
                        <p>
                            Get the knowledge and skills you need to protect your collections, prepare your community for climate catastrophes, and reduce your institution's impact on the environment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5">
                        <i class="bi bi-kanban icon mb-5 d-inline-block"></i>
                        <h4 class="mb-4">Network</h4>
                        <p>Network with colleagues and build relationships that can help you advance your career.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /benefits -->