<!-- contact -->
<section class="section section-on-footer" data-background="{{'/assets/images/backgrounds/bg-dots.png'}}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Stay Informed</h2>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="bg-white rounded text-center p-5 shadow-down">
                    <h4 class="mb-80">Email Signup</h4>
                    
                    {% hubspotForm "45a54813-e166-4e5b-afbd-258aaccd5f90" %}

                    {# <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                    hbspt.forms.create({
                        region: "na1",
                        portalId: "20251227",
                        formId: "45a54813-e166-4e5b-afbd-258aaccd5f90"
                    });
                    </script> #}
                    {# <form action="#" class="row">
                        <div class="col-md-6">
                            <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4" required>
                        </div>
                        <div class="col-md-6">
                            <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4" required>
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here" required></textarea>
                        </div>
                        <div class="col-lg-6 col-10 mx-auto">
                            <button class="btn btn-primary w-100">send</button>
                        </div>
                    </form> #}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /contact -->