<!-- experience -->
<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Experience</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="{{'/assets/images/experience/icon-1.png'}}" alt="icon">
                <p class="mb-0">Jan 2007 - Feb 2009</p>
                <h4>Junior UX Designer</h4>
                <h6 class="text-light">WEBEX</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="{{'/assets/images/experience/icon-2.png'}}" alt="icon">
                <p class="mb-0">Mar 2009 - Aug 2014</p>
                <h4>UX & UI Designer</h4>
                <h6 class="text-light">AUGMEDIX</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="{{'/assets/images/experience/icon-3.png'}}" alt="icon">
                <p class="mb-0">Sep 2014 - Present</p>
                <h4>Senior UI Designer</h4>
                <h6 class="text-light">THEMEFISHER</h6>
            </div>
        </div>
    </div>
</section>
<!-- ./experience -->