<!-- funders -->
<section class="section bg-light">
      <div class="container">
            <div class="row">
                  <div class="col-12 text-center">
                        <h2 class="section-title">Funders</h2>
                  </div>
            </div>
            <div class="row">
                  <div class="col-12">
                        <div class="client-logo-slider d-flex align-items-center">
                              <a href="https://www.imls.gov/grants/awarded/lg-254837-ols-23" target="_blank" class="text-center d-block outline-0 p-4">
                                    <img class="d-unset img-fluid" alt="ILMS logo" src="{{'/assets/images/imls.jpg' | url }}">
                              </a>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- /funders -->