<!-- funders -->
<section class="section">
      <div class="container">
            <div class="row">
                  <div class="col-12 text-center">
                        <h2 class="section-title">Funders</h2>
                        <p class="paragraph-lg">This project is generously funded by the <a href="https://www.imls.gov/grants/awarded/lg-254837-ols-23" target="_blank">IMLS National Leadership Grants for Libraries Program</a>. The program "supports projects that address critical needs of the library and archives fields and have the potential to advance practice and strengthen library and archival services for the American public"</p>
                  </div>
            </div>
            <div class="row">
                  <div class="col-12">
                        <div class="client-logo-slider d-flex align-items-center">
                              <a href="https://www.imls.gov/grants/awarded/lg-254837-ols-23" target="_blank" class="text-center d-block outline-0 p-4">
                                    <img class="d-unset img-fluid" alt="ILMS logo" src="{{'/assets/images/imls.jpg' | url }}">
                              </a>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- /funders -->