<!-- team -->
<section class="section bg-cover" data-background="{{ '/assets/images/backgrounds/team-bg.png' | url }}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">The Team</h2>
            </div>
            {%- for member in team -%}
            <div class="col-md-4 col-sm-6 mb-4 mb-md-3">
                <div class="card text-center">
                    {# {% image "src/assets/images/team/member-1.png", member.name, "card-img-top"%} #}
                    <img src="{{ member.image | url }}" alt="{{ member.name }}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{ member.name }}</h3>
                        <p class="text-light fs-5">{{ member.title }}</p>
                        <p class="text-light font-secondary fs-5">{{ member.institution }}</p>
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>
<!-- /team -->

<!-- curriculum committee -->
<section class="section bg-cover" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Curriculum Committee</h2>
            </div>
            {%- for member in curriculum_committee -%}
                <div class="col-md-4 col-sm-6 mb-4 mb-md-3">
                    <img src="{{ member.image | url }}" alt="{{ member.name }}" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{ member.name }}</h3>
                        <p class="text-light fs-5">{{ member.title }}</p>
                        <p class="text-light font-secondary fs-5">{{ member.institution }}</p>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
<!-- /curriculum committee -->