
<!-- Work Process -->
<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Work Process</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
                <div class="">
                    <img src="{{ '/assets/images/icons/plan.png' | url }}" class="mb-4" alt="icon">
                    <h4 class="mb-4">Research and Plan</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
                <img src="{{ '/assets/images/icons/design.png' | url }}" class="mb-4" alt="icon">
                <h4 class="mb-4">Design and Develop</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
            </div>
            <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
                <img src="{{ '/assets/images/icons/print.png' | url }}" class="mb-4" alt="icon">
                <h4 class="mb-4">Deliver</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Work Process -->