---
title: About
layout: page
---

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          The Climate Resiliency Action Workshop Program is a free online series that will help librarians, archivists, and cultural workers develop the knowledge and skills they need to protect their collections, prepare their communities for climate catastrophes, and take action to reduce their institution's impact on the environment.
        </p>
        <p>
          The program will include a series of six <strong>online workshops</strong> on topics such as disaster planning, climate adaptation, and sustainable practices. We will also include less format <strong>climate circles</strong> to connect with other professionals and share ideas.
        </p>

        <p>
          We are designing the program for librarians, archivists, and cultural heritage workers of all levels of experience. No prior knowledge of climate change or climate resilience is required.
        </p>

        <h2>Why participate?</h2>

        <p>
          The climate crisis is our lifetime's biggest collective action problem, and libraries and museums have a critical role to play in responding to it. By participating in the Climate Resiliency Action Workshop Program, you can help your institution become more resilient to climate change and make a difference for your community.
        </p>
      </div>
      <!--
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="images/about/author.jpg" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="images/about/signature.png" alt="signature" class="img-fluid">
        <h4>Johnathan Smith</h4>
      </div>
      -->
    </div>
    
  </div>
  
</section>
<!-- /about -->

{% include 'sections/benefits.njk' %}
{# {% include 'sections/work_process.njk' %} #}
{% include 'sections/team.njk' %}
{% include 'sections/funders.njk' %}