---
title: Home
layout: home
---

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">

        <p class="font-secondary paragraph-lg text-dark">
           The 21st century has experienced a dramatic increase in extreme weather events. To address climate resiliency needs across libraries, museum, and cultural heritage institutions, <a target="_blank" href="https://www.clir.org/">CLIR</a> and <a target="_blank" href="https://www.diglib.org/groups/climate-justice-working-group/">DLF's Climate Justice Working Group</a> are hosting a series of free online climate resiliency workshops, informal climate circles, and conference meetings that will identify the key areas of action that librarians, archivists, and other cultural workers can take.
        </p>

        <p class="paragraph-lg">
          Through the generous funding of the <a target="_blank" href="https://www.imls.gov/grants/awarded/lg-254837-ols-23">IMLS Libraries Leadership Grant</a>, the team will be recruiting a committee to establish a curriculum of talks and informational sessions allowing for the discussion of a wide range of topics related to climate change, systemic injustice, big data and its implications on the environment, disaster management and preparation, climate awareness, and community engagement. 
        </p>
      
        <p class="paragraph-lg">
          The CLIR Climate Resiliency Action Workshops will develop: 
        </p>

        <ul class="paragraph-lg" style="list-style:disc;line-height:3rem;">
          <li>six recorded <strong>online workshops</strong> focused on interdisciplinary climate resiliency issues; </li>
          <li>six informal <strong>Climate Circles</strong> (held between workshops); </li>
          <li>three opportunities to meet in person in different parts of the United States; </li>
          <li>an accessible online resource bank available on CLIR's website and perpetually  archived using Digital Library Federation's (DLF) National Digital Stewardship Alliance (NDSA) standards for a minimum of 20 years, or until the content is deemed outdated; and </li>
          <li>a publication and/or digital tool kit synthesizing the workshops' outcomes. </li>
        </ul>

      </div>
    </div>
  </div>
</section>
<!-- /about -->

{# {% include 'sections/benefits.njk' %} #}
{% include 'sections/team.njk' %}

{# {% include 'sections/skills.njk' %}
{% include 'sections/experience.njk' %} 
{% include 'sections/education.njk' %}
{% include 'sections/services.njk' %}
{% include 'sections/portfolio.njk' %}
{% include 'sections/testimonials.njk' %}
{% include 'sections/funders.njk' %} 
{% include 'sections/blog.njk' %}#}
