---
title: Home
layout: home
---

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">

        <p class="font-secondary paragraph-lg text-dark">
          The 21st century has experienced a dramatic increase in extreme weather events. To address climate resiliency needs across libraries, museum, and cultural heritage institutions, CLIR and DLF’s Climate Justice Working Group are hosting a series of free online climate resiliency workshops, informal climate circles, and conference meetings that will identify the key areas of action that librarians, archivists, and other cultural workers can take.
        </p>

        <p>
          Through the generous funding of the IMLS Libraries Leadership Grant, the team will be recruiting a committee to establish a curriculum of talks and informational sessions allowing for the discussion of a wide range of topics related to climate change, systemic injustice, big data and its implications on the environment, disaster management and preparation, climate awareness, and community engagement. 
        </p>
      
        <p>
          The program will include a series of six <strong>online workshops</strong> on topics such as disaster planning, climate adaptation, and sustainable practices. We will also include less format <strong>climate circles</strong> to connect with other professionals and share ideas.
        </p>

        <p>
          We are designing the program for librarians, archivists, and cultural heritage workers of all levels of experience. No prior knowledge of climate change or climate resilience is required.
        </p>

      </div>
    </div>
  </div>
</section>
<!-- /about -->

{% include 'sections/benefits.njk' %}
{% include 'sections/team.njk' %}

{# {% include 'sections/skills.njk' %}
{% include 'sections/experience.njk' %} 
{% include 'sections/education.njk' %}
{% include 'sections/services.njk' %}
{% include 'sections/portfolio.njk' %}
{% include 'sections/testimonials.njk' %}
{% include 'sections/funders.njk' %} 
{% include 'sections/blog.njk' %}#}
