---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
    "short_name": "{{ site.short_name }}",
    "name": "{{ site.name }}",
    "icons": [{
        "src": "{{ site.icon | url }}",
        "type": "image/png",
        "sizes": "192x192"
    }],
    "start_url": "/?utm_source=homescreen",
    "background_color": "#fafafa",
    "theme_color": "#fafafa"
}